{% extends "template.html" %} {% block content %}
<div class="container my-5">
  <div class="row">
    <!-- Sidebar Kiri -->
    <div class="col-md-3" id="main-search">
      <div
        class="text-light p-3 rounded"
        style="overflow-y: auto"
        id="leftSide"
      ></div>
    </div>

    <!-- Main Content Tengah -->
    <div class="col-md-9" id="main-div">
      <div class="p-md-3 rounded shadow-sm text-light">
        <p>
          <a href="/" style="text-decoration: none">
            <i class="fas fa-arrow-left" style="color: white"></i>
          </a>
        </p>
        <div>
          {% set teks1 = '' %} {% set teks2 = '' %} {% if data['data']['Score1']
          != '' %} {% set teks1 = data['data']['time_start'] %} {% set teks2 =
          "{} - {}".format(data['data']['Score1'], data['data']['Score2']) %} {%
          else %} {% set teks1 = data['data']['time_start'].split(' ')[0] %} {%
          set teks2 = data['data']['time_start'].split(' ')[1] %} {% endif %}
          <div class="background-container">
            <div class="match-details">
              <div class="match-info-detail">
                <div class="match-date">{{ teks1 }}</div>
                <div class="match-time-wrapper">
                  <div class="teams-container">
                    <div
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      "
                    >
                      <div class="team-info" id="team1-info">
                        <img
                          loading="lazy"
                          src="{{ data['data']['Team1']['IMGTeam'] }}"
                          alt="{{ data['data']['Team1']['NMTeam'] }}"
                          class="team-badge"
                          style="width: 50px; height: 50px"
                        />
                        <div class="team-nameMatch">
                          {{ data['data']['Team1']['NMTeam'] }}
                        </div>
                      </div>
                      <div class="match-time">{{ teks2 }}</div>
                      <div class="team-info" id="team2-info">
                        <img
                          loading="lazy"
                          src="{{ data['data']['Team2']['IMGTeam'] }}"
                          alt="{{ data['data']['Team2']['NMTeam'] }}"
                          class="team-badge"
                        />
                        <div class="team-nameMatch">
                          {{ data['data']['Team2']['NMTeam'] }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="detail-status">
                  {{ data['data']['Status_Match'] }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="match-header">
          <div class="team">
            <img
              src="{{ data['data']['Team1']['IMGTeam'] }}"
              alt="{{ data['data']['Team1']['NMTeam'] }}"
              class="team-logo"
            />
            <div class="detail-name" id="name-team1">
              {{ data['data']['Team1']['NMTeam'] }}
            </div>
          </div>
          <div class="detail-info">
            <div class="detail-time">{{ data['data']['time_start'] }}</div>
            <div class="score fs-2">
              {% if data['data']['Score1'] != '' %} {{ data['data']['Score1'] }}
              - {{ data['data']['Score2'] }} {% endif %}
            </div>
            <div class="detail-status">{{ data['data']['Status_Match'] }}</div>
          </div>
          <div class="team">
            <img
              src="{{ data['data']['Team2']['IMGTeam'] }}"
              alt="{{ data['data']['Team2']['NMTeam'] }}"
              class="team-logo"
            />
            <div class="detail-name" id="name-team2">
              {{ data['data']['Team2']['NMTeam'] }}
            </div>
          </div>
        </div>
        -->

        <!-- Menu Section -->
        <div class="menu-bar">
          <div class="menu-items">
            <p class="menu-link" id="info-link">INFO</p>

            <a href="#" id="summary-link" class="menu-link active">SUMMARY</a>
            <p class="menu-link" id="stats-link">STATS</p>
            <p class="menu-link" id="lineups-link">LINE-UPS</p>
            <p class="menu-link" id="table-link">TABLE</p>
            <p class="menu-link" id="news-link">NEWS</p>
          </div>
        </div>

        <!-- Dynamic Content Section -->
        <div class="container mt-4" id="dinamic-content">
          {# Inisialisasi untuk menyimpan skor setiap babak #} {% if
          data['data']['timeline']|length != 0 %} {% for half, events in
          data['data']['timeline'].items() %} {% set ns = namespace(scores=[0,
          0]) %} {# Inisialisasi skor untuk babak ini #}

          <!-- Timeline Peristiwa -->
          {% for event in events %} {% if event['score']|length != 0 %} {% set
          ns.scores = event['score'] %} {# Perbarui skor jika ada #} {% endif %}
          <div
            class="py-2 text-white {% if event['team'] == 1 %}text-start{% else %}text-end{% endif %}"
          >
            <div class="col-12">
              {% if event['team'] == 1 %} {% if half != '4' %}
              <span>{{ event['min'] }}'</span>
              {% endif %}
              <small
                >{% if event['score']|length > 0 and event['player'][0]['info']
                == 'goal' and event['player']|length > 1 %}({{
                event['player'][1]['pn'] }}){%endif%}
                <b>{{ event['player'][0]['pn'] }}</b></small
              >
              <span class="p-1">
                {% if event['score']|length > 0 and event['player'][0]['info']
                == 'goal' %}
                <img src="{{ url_for('static', filename='img/ball.png') }}" />
                {% else %} {% if 'info' in event['player'][0] and
                event['player'][0]['info'] == 'yellow card' %}
                <img
                  src="{{ url_for('static', filename='img/yellow_card.png') }}"
                />
                {% elif 'info' in event['player'][0] and
                event['player'][0]['info'] == 'red card' %}
                <img
                  src="{{ url_for('static', filename='img/red_card.png') }}"
                />
                {% elif 'info' in event['player'][0] and
                event['player'][0]['info'] == 'yellow-red card' %}
                <img
                  src="{{ url_for('static', filename='img/double_card.png') }}"
                />
                {% elif 'info' in event['player'][0] and
                event['player'][0]['info'] == 'pen-no-goal' %}
                <img
                  src="{{ url_for('static', filename='img/pen-no-goal.png') }}"
                />
                {% elif 'info' in event['player'][0] and
                event['player'][0]['info'] == 'pen-goal' %}
                <img src="{{ url_for('static', filename='img/goal.png') }}" />
                {% else %}
                <span class="px-2 py-1 border rounded">VAR</span>
                {% endif %} {% endif %}
              </span>
              {% if event['score']|length > 0 %}
              <center>{{ns.scores[0]}} - {{ns.scores[1]}}</center>
              {% endif %} {% else %} {% if event['score']|length > 0 %}
              <center>{{ns.scores[0]}} - {{ns.scores[1]}}</center>
              {% endif %}
              <span class="p-1">
                {% if event['score']|length > 0 and event['player'][0]['info']
                == 'goal' %}
                <img src="{{ url_for('static', filename='img/ball.png') }}" />
                {% else %} {% if 'info' in event['player'][0] and
                event['player'][0]['info'] == 'yellow card' %}
                <img
                  src="{{ url_for('static', filename='img/yellow_card.png') }}"
                />
                {% elif 'info' in event['player'][0] and
                event['player'][0]['info'] == 'red-var' %}
                <img
                  src="{{ url_for('static', filename='img/red-var.png') }}"
                />
                {% elif 'info' in event['player'][0] and
                event['player'][0]['info'] == 'yellow-var' %}
                <img
                  src="{{ url_for('static', filename='img/yellow-var.png') }}"
                />
                {% elif 'info' in event['player'][0] and
                event['player'][0]['info'] == 'no-goal-var' %}
                <img
                  src="{{ url_for('static', filename='img/no-goal-var.png') }}"
                />
                {% elif 'info' in event['player'][0] and
                event['player'][0]['info'] == 'red card' %}
                <img
                  src="{{ url_for('static', filename='img/red_card.png') }}"
                />
                {% elif 'info' in event['player'][0] and
                event['player'][0]['info'] == 'yellow-red card' %}
                <img
                  src="{{ url_for('static', filename='img/double_card.png') }}"
                />
                {% elif 'info' in event['player'][0] and
                event['player'][0]['info'] == 'pen-no-goal' %}
                <img
                  src="{{ url_for('static', filename='img/pen-no-goal.png') }}"
                />
                {% elif 'info' in event['player'][0] and
                event['player'][0]['info'] == 'pen-goal' %}
                <img src="{{ url_for('static', filename='img/goal.png') }}" />
                {% else %}
                <span class="px-2 py-1 border rounded">VAR</span>
                {% endif %} {% endif %}
              </span>
              <small
                ><b>{{ event['player'][0]['pn'] }}</b> {% if
                event['score']|length > 0 and event['player'][0]['info'] ==
                'goal' and event['player']|length > 1 %}({{
                event['player'][1]['pn'] }}){%endif%}</small
              >
              {% if half != '4' %}
              <span>{{ event['min'] }}'</span>
              {% endif %} {% endif %}
            </div>
          </div>
          {% endfor %} {# Simpan skor akhir babak #}

          <!-- Penutup Babak -->
          <div
            class="p-2 d-flex justify-content-between bg-secondary rounded text-white"
          >
            <span>
              {% if half == '1' %} HT {% elif half == '2' %} FT {% elif half ==
              '3' %} AET {% elif half == '4' %} PEN {% else %} {{ half }}th Half
              {% endif %}
            </span>
            <span>{{ ns.scores[0] }} - {{ ns.scores[1] }}</span>
          </div>
          {% endfor %} {% else %}
          <div class="info">
            <div class="card bg-black border-2 border-secondary-subtle">
              <div class="card-body">
                <h4 class="text-center fw-semibold">No Data</h4>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% block extra_js%}
    <script>
      var currentPage = "{{ page_name }}";
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %} {% endblock %}
  </div>
</div>
