<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rename File</title>
  </head>
  <body>
    <h1>Daftar Gambar Jersey</h1>

    {% for file in files %}
    <div>
      <img src="static/img/jersey/{{file}}" alt="{{ file }}" width="200" />
      <p>Nama Awal: {{ file.split('.')[0].replace('-', ' ') }}</p>

      <form method="POST">
        <input type="hidden" name="file_name" value="{{ file }}" />
        <input
          type="text"
          name="nama_akhir"
          placeholder="Masukkan nama akhir"
          required
        />
        <button type="submit">Ok</button>
      </form>
    </div>
    <hr />
    {% endfor %}
  </body>
</html>
