<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rename File</title>
  </head>
  <body>
    {% if session.id %}
    <p>Anda Sudah Login</p>
    {% else %}
    <p>Anda Belum Login</p>
    <button id="btnLogin">LOGIN</button>
    {% endif %}
    <script>
      // Menangkap klik event pada tombol
      document
        .getElementById("btnLogin")
        .addEventListener("click", function () {
          // Lakukan request ke /set-cookie saat tombol diklik
          fetch("/set-cookie", {
            method: "GET", // bisa juga 'POST' tergantung kebutuhan
            credentials: "same-origin", // Untuk mengirimkan cookie yang ada saat ini (jika ada)
          })
            .then((response) => response.text()) // Mendapatkan response dalam bentuk teks
            .then((data) => {
              console.log(data); // Menampilkan hasil response ke console
              alert(data); // Menampilkan hasil ke pengguna
            })
            .catch((error) => {
              console.error("Error:", error); // Menangani jika terjadi error
            });
        });
    </script>
  </body>
</html>
